html{
    height: 100%;
    margin:0px;  
   
}

body{
    background-color: #fdfdfd;
    height: 100%;
    margin:0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.header{
    background-color: pink;
    color: #fdfdfd;
    text-align: center;
    padding: 20px;
   
}

.topnav{
    overflow: hidden;
    background-color: #333;
   
}

.topnav a{
    float: left;
    display: block;
    color: #fdfdfd;
    text-align: center;
    text-decoration: none;
    padding: 14px 18px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.contenido{
    padding: 15px;
    font-size:40px;
    background-color: purple;
}

.footer{
    
    background-color: yellow;
    padding: 20px;
    clear: both;
}

#left{
    float: left;
}

#right{
    float: right;
}

